@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}


@font-face {
    font-family: 'ToolBirdDisplay';
    src: url('/fonts/gelix-regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'ToolBirdDisplay';
    src: url('/fonts/gelix-medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'ToolBirdDisplay';
    src: url('/fonts/gelix-semibold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'ToolBirdDisplay';
    src: url('/fonts/gelix-bold.ttf');
    font-weight: 600;
}

* {
    font-family: "ToolBirdDisplay";
}
