@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'headingFont';
    src: url('/fonts/Rebond Grotesque Bold.otf'); 
}
.headingText {
    font-family: "headingFont";
}

.bgWave {
    background-image: url(/public/bgs/wave.svg);
    background-position: center;
    background-size: cover;
}

